<!DOCTYPE html>
<html lang="en" ng-app="HexGame">
<head>
    <title>Hex</title>
    <link href="hex.css" rel="stylesheet">

</head>

<body ng-controller="BoardController">
{{boardItems}}

<div class="container">

    <ol ng-repeat="hexItems in boardItems" ng-class="{'even' : $index % 2 == 0 , 'odd' : $index % 2 != 0 }">
        <li ng-mouseover="showPossibleMoves(hex)" ng-hover-if="hex.isSelected , doSomething()"
            ng-mouseleave="hideHoverForAll()" ng-click="move(hex)" class='hex {{hex.state}} {{hex.uiStatus}}'
            ng-repeat="hex in hexItems">
            <span class="hex-text">
              {{hex.index}}
                </span>
        </li>

    </ol>

    <input ng-model="user.username"/>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<script src="helpers.js"></script>

<script src="hex.js"></script>
<script src="players.js"></script>
<script src="board.js"></script>
</body>
</html>
